<div class="site-footer">
    <div class="inner first">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading"><b>GIỚI THIỆU</b></h3>
                        <p style="text-align: justify;">
                            Sản phẩm đồ án 2 <b>Thiết kế hệ chuyên gia tư vấn mua ô-tô</b>, tìm kiếm, hiển thị thông tin của ô-tô, báo cáo kết quả thực hiện, quá trình thực hiện và thông tin của sinh viên <b>Nguyễn Khánh</b>
                        </p>
                    </div>
                    <div class="widget">
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-dribbble"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li><a href="#"><span class="icon-apple"></span></a></li>
                            <li><a href="#"><span class="icon-google"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 pl-lg-5">
                    <div class="widget">
                        <h3 class="heading">Các Trang</h3>
                        <ul class="links list-unstyled">
                            <li><a href="/index#list_cars_items">Danh sách xe</a></li>
                            <li><a href="/about">Bản thân</a></li>
                            <li><a href="/about#baocaosnapham">Báo cáo kết quả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h3 class="heading">Tài Liệu</h3>
                        <ul class="links list-unstyled">
                            <li><a href="https://www.djangoproject.com/">Django</a></li>
                            <li><a href="https://www.youtube.com/watch?v=zIbJ-QPwYwk&list=PLZEIt444jqpB1j3RD4BrYm9JmNVYuzVNm">Lớp học Django</a></li>
                            <li><a href="https://vnexpress.net/oto-xe-may/v-car">Thông tin xe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget">
                        <h3 class="heading">Sinh viên <b>Nguyễn Khánh</b></h3>
                        <ul class="list-unstyled quick-info links">
                            <li class="email"><a href="mailto:khanhdthucntt19@gmail.com">khanhdthucntt19@gmail.com</a></li>
                            <li class="phone"><a href="tel:+84 335252144">+84 335252144</a></li>
                            <li class="address"><a href="https://goo.gl/maps/GdaWcJg8Zuyn4BY4A">Trường đại học Đồng Tháp - Khoa Sư phạm Toán Tin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>