<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LỖI 404</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'choose_oto_expert_system/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'choose_oto_expert_system/css/notfound_404.css' %}">
</head>
<body>
    <section class="notFound">
        <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>KHONG TIM THAY TRANG</h2>
        <h3>TRO VE TRANG CHU</h3>
        <a href="./index.html" class="yes">DONG Y</a>
        <a href="#">KHONG</a>
        </div>
    </section>
</body>
</html>